.product {
    background-color: rgb(255, 255, 253);
    width: 340px;
    height: 600px;
    border: 3px solid #5fbcf5;
    border-radius: 20px;
    position: relative;
}

.product img {
    width: 330px;
    height: 286px;
    border-radius: 12px;
    margin: 2px;
}

.product-info {
    margin: 0 14px;
}

.product-info p {
    margin-bottom: 0;
    margin-top: 5px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    color: orangered;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
}

.price-item {
    font-size: 20px;
    color: darkviolet;
}

.cart-icon {
    color: orange;
    font-size: 36px;
}

.btn-cart {
    width: 100%;
    background: rgb(3, 3, 212);
    border: none;
    border-radius: 0px 0px 16px 16px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text {
    margin-right: 22px;
    color: #ffff;
    /* font-size: 20px; */
}

.btn-cart:hover {
    background-color: rgb(0, 255, 98);
}